In [125]:
pip install gensim==3.4.0

Requirement already satisfied: gensim==3.4.0 in /usr/local/lib/python3.6/dist-packages (3.4.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from gensim==3.4.0) (1.18.3)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim==3.4.0) (1.12.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim==3.4.0) (1.11.1)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim==3.4.0) (1.4.1)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim==3.4.0) (1.12.43)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim==3.4.0) (2.21.0)
Requirement already satisfied: boto in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim==3.4.0) (2.49.0)
Requirement already satisfied: botocore<1.16.0,>=1.15.43 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim==3.4.0) (1.15.43)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim==3.4.0) (0.9.5)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim==3.4.0) (0.3.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim==3.4.0) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim==3.4.0) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim==3.4.0) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim==3.4.0) (2020.4.5.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.16.0,>=1.15.43->boto3->smart-open>=1.2.1->gensim==3.4.0) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.16.0,>=1.15.43->boto3->smart-open>=1.2.1->gensim==3.4.0) (2.8.1)

In [0]:
from xgboost import XGBClassifier

In [127]:
!pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer 
sid_obj = SentimentIntensityAnalyzer()

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.3.1)

In [128]:
!pip install imblearn
from imblearn.under_sampling import RandomUnderSampler

Requirement already satisfied: imblearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.6/dist-packages (from imblearn) (0.4.3)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn->imblearn) (1.18.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn->imblearn) (0.14.1)

In [129]:
!sudo apt-get install python3-dev default-libmysqlclient-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 25 not upgraded.

In [130]:
pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.17.3)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (1.12.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.7.2)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (46.1.3)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (3.1.1)

In [131]:

!pip install --upgrade setuptools
!pip install wheel
!pip install pattern
!pip install mysqlclient

Requirement already up-to-date: setuptools in /usr/local/lib/python3.6/dist-packages (46.1.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.6/dist-packages (0.34.2)
Requirement already satisfied: pattern in /usr/local/lib/python3.6/dist-packages (3.6)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pattern) (4.2.6)
Requirement already satisfied: python-docx in /usr/local/lib/python3.6/dist-packages (from pattern) (0.8.10)
Requirement already satisfied: backports.csv in /usr/local/lib/python3.6/dist-packages (from pattern) (1.0.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pattern) (1.18.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pattern) (2.21.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from pattern) (1.4.1)
Requirement already satisfied: cherrypy in /usr/local/lib/python3.6/dist-packages (from pattern) (18.6.0)
Requirement already satisfied: pdfminer.six in /usr/local/lib/python3.6/dist-packages (from pattern) (20200402)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pattern) (0.16.0)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.6/dist-packages (from pattern) (1.4.6)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from pattern) (3.2.5)
Requirement already satisfied: feedparser in /usr/local/lib/python3.6/dist-packages (from pattern) (5.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from pattern) (4.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pattern) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pattern) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pattern) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pattern) (3.0.4)
Requirement already satisfied: jaraco.collections in /usr/local/lib/python3.6/dist-packages (from cherrypy->pattern) (3.0.0)
Requirement already satisfied: cheroot>=8.2.1 in /usr/local/lib/python3.6/dist-packages (from cherrypy->pattern) (8.3.0)
Requirement already satisfied: portend>=2.1.1 in /usr/local/lib/python3.6/dist-packages (from cherrypy->pattern) (2.6)
Requirement already satisfied: zc.lockfile in /usr/local/lib/python3.6/dist-packages (from cherrypy->pattern) (2.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from cherrypy->pattern) (8.2.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdfminer.six->pattern) (2.1.0)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.6/dist-packages (from pdfminer.six->pattern) (3.9.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->pattern) (1.12.0)
Requirement already satisfied: jaraco.classes in /usr/local/lib/python3.6/dist-packages (from jaraco.collections->cherrypy->pattern) (3.1.0)
Requirement already satisfied: jaraco.text in /usr/local/lib/python3.6/dist-packages (from jaraco.collections->cherrypy->pattern) (3.2.0)
Requirement already satisfied: jaraco.functools in /usr/local/lib/python3.6/dist-packages (from cheroot>=8.2.1->cherrypy->pattern) (3.0.1)
Requirement already satisfied: tempora>=1.8 in /usr/local/lib/python3.6/dist-packages (from portend>=2.1.1->cherrypy->pattern) (3.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zc.lockfile->cherrypy->pattern) (46.1.3)
Requirement already satisfied: importlib-resources; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from jaraco.text->jaraco.collections->cherrypy->pattern) (1.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from tempora>=1.8->portend>=2.1.1->cherrypy->pattern) (2018.9)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-resources; python_version < "3.7"->jaraco.text->jaraco.collections->cherrypy->pattern) (1.6.0)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-resources; python_version < "3.7"->jaraco.text->jaraco.collections->cherrypy->pattern) (3.1.0)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.6/dist-packages (1.4.6)

In [132]:
!pip install pandarallel
from pandarallel import pandarallel
pandarallel.initialize()

Requirement already satisfied: pandarallel in /usr/local/lib/python3.6/dist-packages (1.4.8)
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from pandarallel) (0.3.1.1)
INFO: Pandarallel will run on 40 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [133]:
import numpy as np
import re
import pandas as pd
import gensim
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk import word_tokenize
stop_words = set(stopwords.words('english'))
from gensim.models import LdaModel, LdaMulticore
import gensim.downloader as api
from gensim.utils import  lemmatize
from gensim import corpora
from nltk.corpus import stopwords
import re
import logging
nltk.download('punkt')
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s')
logging.root.setLevel(level=logging.INFO)
stop_words = stopwords.words('english')
stop_words.extend(['restaurant','food','place','las','vegas','hotel'])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [0]:
from gensim.models.phrases import Phrases, Phraser
import multiprocessing
import tqdm
from sklearn import utils
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score,confusion_matrix,precision_recall_fscore_support,classification_report
import ast
from sklearn.preprocessing import  StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import recall_score

In [0]:
from sklearn.metrics import fbeta_score, make_scorer
recall_0 = make_scorer(recall_score,pos_label=0,average='binary')

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from google.colab import drive

In [137]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
review_Dataset = pd.read_csv('/content/drive/Shared drives/DPA Final Project/review_dataset_features.csv')

In [0]:
review_Dataset =review_Dataset.drop(columns= 'Unnamed: 0')

In [0]:
review_Dataset.date = pd.to_datetime(review_Dataset.date)

In [0]:
review_Dataset = review_Dataset[~review_Dataset.text.isna()]

In [0]:
Dataset = pd.read_csv('/content/drive/Shared drives/DPA Final Project/y_file.csv')

In [0]:
Dataset =Dataset.drop(columns= 'index')

In [0]:
Dataset =Dataset.rename(columns= {'mean':'average_demerits'})

In [0]:
y_file = pd.read_csv('/content/drive/Shared drives/DPA Final Project/y_file.csv')

In [0]:
y_file = y_file.drop(columns='index')

In [0]:
y_file =y_file.rename(columns= {'max':'average_demerits'})

In [0]:
def inspection_grade(x):
  if x <= 10:
    return 'A'
  elif x<=20:
    return 'B'
  else :
    return 'C'

In [0]:
Dataset['inspection_grade'] = Dataset.average_demerits.apply(lambda x : inspection_grade(x))

In [0]:
cat_dataset = pd.read_csv('/content/drive/Shared drives/DPA Final Project/business_with_cat.csv')

In [0]:
cat_dataset1 = pd.read_csv('/content/drive/Shared drives/DPA Final Project/business_with_cat.csv')

In [235]:
cat_dataset1.head()

   Unnamed: 0             business_id  ...                  address is_valid
0           0  PZ-LZzSlhSe9utkQYU8pFg  ...     1775 E Tropicana Ave        y
1           1  PZ-LZzSlhSe9utkQYU8pFg  ...     1775 E Tropicana Ave        y
2           2  tstimHoMcYbkSC4eBA1wEg  ...  6055 E Lake Mead Blvd C        y
3           3  NBn4hgfGtNz91k3VsDZlmw  ...          4190 N PECOS Rd        y
4           4  kANF0dbeoW34s2vwh6Umfw  ...  6125 Spring Mountain Rd        y

[5 rows x 34 columns]

In [236]:
cat_dataset.head()

              business_id  ... is_mexican
0  PZ-LZzSlhSe9utkQYU8pFg  ...          0
2  tstimHoMcYbkSC4eBA1wEg  ...          1
3  NBn4hgfGtNz91k3VsDZlmw  ...          0
4  kANF0dbeoW34s2vwh6Umfw  ...          0
5  YK5eFV8uS1bCmp8GeiQ-Qg  ...          0

[5 rows x 26 columns]

In [0]:
cat_dataset = cat_dataset.drop(columns= 'Unnamed: 0')

In [152]:
cat_dataset.shape

(8972, 33)

In [153]:
cat_dataset.columns

Index(['business_id', 'categories', 'clean_categories', 'is_restaurants',
       'is_food', 'is_fast_food', 'is_grocery', 'is_convenience_store',
       'is_adult', 'is_bakeries', 'is_buffet', 'is_sushi_bar', 'is_alcohol',
       'is_pizza', 'is_coffee_and_tea', 'is_ice_cream_deserts',
       'is_sandwiches', 'is_burgers', 'is_vietnamese', 'is_japanese',
       'is_thai', 'is_italian', 'is_korean', 'is_american', 'is_chinese',
       'is_mexican', 'address_x', 'facility_id', 'location_name', 'name',
       'restaurant_name', 'address', 'is_valid'],
      dtype='object')

In [0]:
cat_dataset=cat_dataset.drop(columns=['address_x', 'facility_id', 'location_name', 'name',
       'restaurant_name', 'address', 'is_valid'])

In [0]:
cat_dataset= cat_dataset.drop_duplicates()

In [156]:
Dataset.shape

(113390, 8)

In [0]:
Dataset = pd.merge(Dataset,cat_dataset,how='inner',on='business_id')

In [158]:
Dataset.shape

(113390, 33)

In [0]:
 Dataset['Date'] =  pd.to_datetime(Dataset.inspection_date)

In [0]:
Dataset['previous_grade']=Dataset.groupby('business_id')['inspection_grade'].apply(lambda x : x.shift(1))

In [0]:
Dataset['previous_grade2'] =Dataset.groupby('business_id')['inspection_grade'].apply(lambda x : x.shift(2))

In [0]:
Dataset['previous_grade3'] =Dataset.groupby('business_id')['inspection_grade'].apply(lambda x : x.shift(3))

In [0]:
Dataset.loc[Dataset.previous_grade2.isna(),'previous_grade2'] = 'NA'

In [0]:
Dataset.loc[Dataset.previous_grade.isna(),'previous_grade'] = 'NA'

In [0]:
Dataset.loc[Dataset.previous_grade3.isna(),'previous_grade3'] = 'NA'

In [166]:
Dataset.previous_grade.value_counts()

A     86923
B     16344
NA     5540
C      4583
Name: previous_grade, dtype: int64

In [0]:
Dataset= Dataset[Dataset.Date.dt.year >2012].reset_index(drop=True)

In [168]:
max_Date = review_Dataset.date.max()
max_Date

Timestamp('2018-11-14 18:12:40')

In [0]:
Dataset = Dataset[Dataset.Date<max_Date]

In [0]:
def get_rows(df,time_period,b_id,date_input):
    temp_df = df[df.business_id == b_id]
    date_min = date_input - \
       pd.offsets.DateOffset(months=time_period)
    temp_df = temp_df[(temp_df['date'] < date_input) & (temp_df['date']>=date_min)].reset_index(drop = True)
    return temp_df[[str(i) for i in range(100)]].mean()

In [0]:
def get_ratings(df,time_period,b_id,date_input):
    temp_df = df[df.business_id == b_id]
    date_min = date_input - \
       pd.offsets.DateOffset(months=time_period)
    temp_df = temp_df[(temp_df['date'] < date_input) & (temp_df['date']>=date_min)].reset_index(drop = True)
    return temp_df['stars'].mean()

In [0]:
def get_sentimnet_Score(df,time_period,b_id,date_input):
    temp_df = df[df.business_id == b_id]
    date_min = date_input - \
       pd.offsets.DateOffset(months=time_period)
    temp_df = temp_df[(temp_df['date'] < date_input) & (temp_df['date']>=date_min)].reset_index(drop = True)
    temp_df['polarity_scores'] = temp_df.text.apply(lambda x:sid_obj.polarity_scores(x).get('compound'))
    return temp_df['polarity_scores'].mean()

In [173]:
get_sentimnet_Score(review_Dataset,12,Dataset.business_id[0],Dataset.Date[0])

0.72482

In [0]:
def get_features(b_id,date,y_file):
    temp_df= y_file[y_file.business_id == b_id]
    temp_df = temp_df[temp_df.inspection_date < date]
    if(temp_df.empty):
      return [None,0,None,None]
    else:
      return [temp_df.average_demerits.mean(),temp_df.average_demerits.count(),temp_df.average_demerits.max(),temp_df.average_demerits.min()]

In [0]:
Dataset[list(range(100))] = Dataset.parallel_apply(lambda x : get_rows(review_Dataset,12,x['business_id'],x['Date']),axis=1,result_type ='expand')

In [0]:
Dataset['ratings'] = Dataset.parallel_apply(lambda x : get_ratings(review_Dataset,12,x['business_id'],x['Date']),axis=1)

In [0]:
Dataset['sentiment_score'] = Dataset.parallel_apply(lambda x : get_sentimnet_Score(review_Dataset,12,x['business_id'],x['Date']),axis=1)

In [0]:
Dataset= Dataset[~Dataset.ratings.isna()]

In [0]:
Dataset[['previous_demerits_avg','no_of_inspections','previous_demerits_max','previous_demerits_min']]=Dataset.parallel_apply(lambda x : get_features(x['business_id'],x['inspection_date'],y_file),axis =1,result_type ='expand')

In [0]:
def pass_fail(x):
  if (x=='A'):
    return (1)
  else:
    return  (0)

In [0]:
Dataset['pass'] = Dataset.inspection_grade.apply(lambda x:pass_fail(x))

In [0]:
Dataset[['previous_A','previous_B','previous_C']] = pd.get_dummies(Dataset.previous_grade).drop(columns = 'NA')

In [0]:
Dataset[['previous_A2','previous_B2','previous_C2']] = pd.get_dummies(Dataset.previous_grade2).drop(columns = 'NA')

In [0]:
Dataset[['previous_A3','previous_B3','previous_C3']] = pd.get_dummies(Dataset.previous_grade3).drop(columns = 'NA')

In [185]:
Dataset.isna().sum()

business_id         0
inspection_date     0
count               0
average_demerits    0
median              0
                   ..
previous_B2         0
previous_C2         0
previous_A3         0
previous_B3         0
previous_C3         0
Length: 153, dtype: int64

In [186]:
Dataset['pass'].value_counts()

1    34413
0     9731
Name: pass, dtype: int64

In [0]:
train,test = train_test_split(Dataset,test_size = 0.2,stratify = Dataset['pass'],random_state =100)

In [188]:
train.loc[train['previous_demerits_avg'].isna(),['previous_demerits_avg','previous_demerits_max','previous_demerits_min']] = [train.previous_demerits_avg.median(),train.previous_demerits_max.median(),train.previous_demerits_min.median()]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [189]:
test.loc[test['previous_demerits_avg'].isna(),['previous_demerits_avg','previous_demerits_max','previous_demerits_min']] = [test.previous_demerits_avg.median(),test.previous_demerits_max.median(),test.previous_demerits_min.median()]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [190]:
test['pass'].value_counts()

1    6883
0    1946
Name: pass, dtype: int64

In [0]:
X_train = train[list(range(100)) + ['is_restaurants',
       'is_food', 'is_fast_food', 'is_grocery', 'is_convenience_store',
       'is_adult', 'is_bakeries', 'is_buffet', 'is_sushi_bar', 'is_alcohol',
       'is_pizza', 'is_coffee_and_tea', 'is_ice_cream_deserts',
       'is_sandwiches', 'is_burgers', 'is_vietnamese', 'is_japanese',
       'is_thai', 'is_italian', 'is_korean', 'is_american', 'is_chinese',
       'is_mexican']+ ['sentiment_score'] +  ['ratings'] + ['previous_A','previous_B','previous_C']+['previous_A3','previous_B3','previous_C3']+['previous_A2','previous_B2','previous_C2']+['previous_demerits_avg','no_of_inspections','previous_demerits_max','previous_demerits_min']]
X_test = test[ list(range(100)) + ['is_restaurants',
       'is_food', 'is_fast_food', 'is_grocery', 'is_convenience_store',
       'is_adult', 'is_bakeries', 'is_buffet', 'is_sushi_bar', 'is_alcohol',
       'is_pizza', 'is_coffee_and_tea', 'is_ice_cream_deserts',
       'is_sandwiches', 'is_burgers', 'is_vietnamese', 'is_japanese',
       'is_thai', 'is_italian', 'is_korean', 'is_american', 'is_chinese',
       'is_mexican'] + ['sentiment_score'] + ['ratings'] + ['previous_A','previous_B','previous_C']+['previous_A3','previous_B3','previous_C3']+['previous_A2','previous_B2','previous_C2']+['previous_demerits_avg','no_of_inspections','previous_demerits_max','previous_demerits_min']]

In [0]:
Y_train = train['pass']

In [0]:
Y_test = test['pass']

In [0]:
sc = StandardScaler()

In [0]:
rus = RandomUnderSampler(random_state=42)

In [196]:
X_train_under,Y_train_under= rus.fit_resample(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
X_train_fit = sc.fit_transform(X_train_under)

In [0]:
X_test_fit  = sc.fit_transform(X_test)

In [0]:
clf = RandomForestClassifier()

In [0]:
parameters_rnf = {'n_estimators':[100,1000],'max_depth':[50,100,500]}

In [0]:
grid_clf = GridSearchCV(clf,parameters_rnf,scoring={'accuracy':'accuracy','recall_0':recall_0},refit=False)

In [202]:
grid_clf.fit(X_train_fit,Y_train_under)

KeyboardInterrupt: ignored

In [0]:
grid_clf.cv_results_

In [0]:
clf = RandomForestClassifier(n_estimators=1000,max_depth=100)
clf.fit(X_train_fit,Y_train_under)

In [0]:
y_pred_rnf = clf.predict(X_test_fit )

In [0]:
accuracy_score(y_true=Y_test,y_pred=y_pred_rnf)

In [0]:
print(classification_report(y_true=Y_test,y_pred=y_pred_rnf, target_names=['fail','pass']))

In [0]:
logreg = LogisticRegression()

In [0]:
parameters_logreg = [{'C':[0.001,0.01,0.1,1,10],'penalty':['l2']},{'C':[0.001,0.01,0.1,1,10],'penalty':['l1'],'solver':['liblinear']},{'penalty':['elasticnet'],'solver':['saga'],'l1_ratio':[0.3,0.5,0.8]}]

In [0]:
grid_logreg = GridSearchCV(estimator=logreg,param_grid=parameters_logreg,scoring={'accuracy':'accuracy','recall_0':recall_0},refit=False)

In [0]:
grid_logreg.fit(X_train_fit,Y_train_under)

In [0]:
grid_logreg.cv_results_

In [204]:
logreg = LogisticRegression(C=0.5,random_state=100)
logreg.fit(X_train_fit,Y_train_under)

LogisticRegression(C=0.5, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=100, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred_logreg = logreg.predict(X_test_fit )

In [206]:
y_pred_logreg

array([1, 0, 0, ..., 1, 1, 1])

In [208]:
test['predictions'] = y_pred_logreg

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
failed_restaurants = test.index[test['predictions'] == 0]

In [275]:
cat_dataset1.shape

(8972, 34)

In [274]:
test.shape

(8829, 154)

In [276]:
cat_dataset1.columns

Index(['Unnamed: 0', 'business_id', 'categories', 'clean_categories',
       'is_restaurants', 'is_food', 'is_fast_food', 'is_grocery',
       'is_convenience_store', 'is_adult', 'is_bakeries', 'is_buffet',
       'is_sushi_bar', 'is_alcohol', 'is_pizza', 'is_coffee_and_tea',
       'is_ice_cream_deserts', 'is_sandwiches', 'is_burgers', 'is_vietnamese',
       'is_japanese', 'is_thai', 'is_italian', 'is_korean', 'is_american',
       'is_chinese', 'is_mexican', 'address_x', 'facility_id', 'location_name',
       'name', 'restaurant_name', 'address', 'is_valid'],
      dtype='object')

In [282]:
test.business_id.nunique()

3386

In [277]:
test.columns

Index([     'business_id',  'inspection_date',            'count',
       'average_demerits',           'median',              'max',
                    'sum', 'inspection_grade',       'categories',
       'clean_categories',
       ...
             'previous_A',       'previous_B',       'previous_C',
            'previous_A2',      'previous_B2',      'previous_C2',
            'previous_A3',      'previous_B3',      'previous_C3',
            'predictions'],
      dtype='object', length=154)

In [0]:
pd.merge(product, customer,on='Product_ID')

In [312]:
merged_inner = pd.merge(cat_dataset1,test, on = 'business_id', how = 'inner')
merged_inner.shape

(20532, 187)

In [238]:
merged_inner.sort_values(['predictions']).head()

      Unnamed: 0             business_id  ... previous_C3 predictions
0              2  tstimHoMcYbkSC4eBA1wEg  ...           0           0
8093        2647  9ehTNgvu0vZgHjWkQqF6KQ  ...           0           0
8091        2646  uKsOd2O_VoFvmYop0ryYcQ  ...           0           0
8090        2645  9WVNvQ1UhzXVMihF2Rhuiw  ...           0           0
8089        2645  9WVNvQ1UhzXVMihF2Rhuiw  ...           0           0

[5 rows x 187 columns]

In [265]:
merged_inner.shape

(20532, 187)

In [231]:
len(test.columns)

154

In [0]:
def changeToCategory(x):
  if x == 1:
    return 'Pass'
  else:
    return 'Fail'

In [0]:
merged_inner['predictions'] = merged_inner.predictions.apply(lambda x: changeToCategory(x))

In [268]:
merged_inner.shape

(20532, 187)

In [0]:
merged_inner_final = merged_inner.sort_values(['predictions'])

In [272]:
merged_inner_final.shape

(20532, 187)

In [295]:
final_data = merged_inner_final.loc[:, ['name', 'clean_categories_x',  'address_x', 'predictions']]
final_data = final_data.drop_duplicates()
final_data.head()

                                      name  ... predictions
0      Maria's Mexican Restaurant & Bakery  ...        Fail
13692                           Weera Thai  ...        Fail
13688          Yi Mei Champion Taiwan Deli  ...        Fail
13687                         Xtreme Sushi  ...        Fail
13685                           China Star  ...        Fail

[5 rows x 4 columns]

In [0]:
final_data = final_data.rename(columns={"name": "Restaurant Name", "clean_categories_x": "Restaurant Categories", "address_x" : 'Address', "predictions": 'Predictions'})

In [310]:
final_data.head()

                           Restaurant Name  ... Predictions
0      Maria's Mexican Restaurant & Bakery  ...        Fail
13692                           Weera Thai  ...        Fail
13688          Yi Mei Champion Taiwan Deli  ...        Fail
13687                         Xtreme Sushi  ...        Fail
13685                           China Star  ...        Fail

[5 rows x 4 columns]

In [0]:
final_data.to_csv('WithCat.csv')

In [296]:
final_data1 = merged_inner_final.loc[:, ['name', 'address_x', 'predictions']]
final_data1 = final_data1.drop_duplicates()
final_data1.head()

                                      name  ... predictions
0      Maria's Mexican Restaurant & Bakery  ...        Fail
13692                           Weera Thai  ...        Fail
13688          Yi Mei Champion Taiwan Deli  ...        Fail
13687                         Xtreme Sushi  ...        Fail
13685                           China Star  ...        Fail

[5 rows x 3 columns]

In [0]:
final_data1 = final_data1.rename(columns={"name": "Restaurant Name", "address_x" : 'Address', "predictions": 'Predictions'})

In [303]:
final_data1.head()

                           Restaurant Name  ... Predictions
0      Maria's Mexican Restaurant & Bakery  ...        Fail
13692                           Weera Thai  ...        Fail
13688          Yi Mei Champion Taiwan Deli  ...        Fail
13687                         Xtreme Sushi  ...        Fail
13685                           China Star  ...        Fail

[5 rows x 3 columns]

In [0]:
final_data1.to_csv('withoutCat.csv')

In [211]:
test['Predictions']

Int64Index([56472, 18159, 29800, 34796, 48078, 12569, 52262, 10093, 28956,
            18099,
            ...
             4481, 34718, 53048, 58074, 34070, 14668, 40390, 12114, 11962,
              503],
           dtype='int64', length=4083)

In [307]:
import os
print(os.getcwd())

/content

In [209]:
test.head()

                  business_id inspection_date  ...  previous_C3  predictions
50050  mpic-6yBI1pavHRNxBbFwQ    9/10/14 0:00  ...            0            1
56472  tpCALADHTuBaCJNgAluj2w    10/9/15 0:00  ...            0            0
18159  HyKxWC9PrqlODjO-CBCIZA    3/18/17 0:00  ...            0            0
29800  TKcq0hOqesiDOwQb-ZwFAw    3/12/13 0:00  ...            0            0
34796  YJ5CSYTHwZlqnR61P_lY9Q    2/18/15 0:00  ...            0            0

[5 rows x 154 columns]

In [0]:
accuracy_score(y_true=Y_test,y_pred=y_pred_logreg)

In [0]:
print(classification_report(y_true=Y_test,y_pred=y_pred_logreg, target_names=['fail','pass']))

In [0]:
gb = GaussianNB()
gb.fit(X_train_fit,Y_train_under)

In [0]:
y_pred_gb = gb.predict(X_test_fit )

In [0]:
accuracy_score(y_true=Y_test,y_pred=y_pred_gb)

In [0]:
print(classification_report(y_true=Y_test,y_pred=y_pred_gb, target_names=['fail','pass']))

In [0]:
svc = SVC(C=1,kernel='linear')
svc.fit(X_train_fit,Y_train_under)

In [0]:
y_pred_svc = svc.predict(X_test_fit )

In [0]:
accuracy_score(y_true=Y_test,y_pred=y_pred_svc)

In [0]:
print(classification_report(y_true=Y_test,y_pred=y_pred_svc, target_names=['fail','pass']))