## Business and Review Datasets

In [2]:
import pandas as pd

In [32]:
business_data = pd.read_json(r"C:\Users\abdul\desktop\yelp\business.json", lines=True)
business_data.to_csv(r"C:\Users\abdul\desktop\business.csv", encoding='utf-8', index=False)

KeyboardInterrupt:

In [ ]:
print(business_data.head())

In [ ]:
print(business_data.info())

In [ ]:
business_data['state'].value_counts()

In [ ]:
business_data['city'].value_counts().head(30)

In [ ]:
import json
import pandas as pd
reviews = []

with open(r"C:\Users\abdul\desktop\yelp\review.json", encoding='utf8') as file:
    for line in file:
        reviews.append(json.loads(line))
        
review_df = pd.DataFrame(reviews)
review_df.head()

In [ ]:
review_df.to_csv(r"C:\Users\abdul\desktop\review.csv", encoding='utf-8', index=False)

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\abdul\desktop\review.csv")
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [3]:
df.date = pd.to_datetime(df.date)

In [4]:
new = df[df.business_id == "ujmEBvifdJM6h6RLv4wQIg"]

In [5]:
new = new.sort_values('date')

In [6]:
new.tail(50)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
242897,c5J5lrWDJHmIX-M44-omHw,4NpBIrOBy-d8xGkg7DAIYQ,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,"Awesome hospital was there on 2012 , for my so...",2018-01-26 01:30:26
287358,pfKJQO9azSOyof5AhxdVAg,vl3xdjqA_0o_-ZG_mmqrqw,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,My cousin went to Mountainview for emergency s...,2018-01-27 05:05:00
346617,pKkTACs9eRUMIm6juiJo4g,Eq0LSnNjI5TeNj-uxtFOHg,ujmEBvifdJM6h6RLv4wQIg,1.0,5,1,0,ER in this hospital is just terrible. 2 years ...,2018-01-28 03:37:32
287571,_wFG4KOmW-ly3lCbFhmcEw,tJxWJneIK_Uyqw8fJYPCQw,ujmEBvifdJM6h6RLv4wQIg,2.0,2,0,0,My wife had a potential life threatening asthm...,2018-02-06 16:04:36
595715,yurxTi9v0IE1lOb6XDcukQ,9buV4R83SPaE5THyTNkubg,ujmEBvifdJM6h6RLv4wQIg,1.0,4,1,1,Do not go to this hospital if you want to LIVE...,2018-02-09 16:54:05
465111,yjpyx1nAagk1W3Ctl1pQEA,e5DiUp9Xgvg8ilpasRt_hA,ujmEBvifdJM6h6RLv4wQIg,4.0,0,1,0,I was at Mountain View hospital for my surgery...,2018-02-21 06:29:17
456393,cxVmP49jT60PGEt3vGdYqg,KjLGuyBVe9djM4DxYJs0-w,ujmEBvifdJM6h6RLv4wQIg,1.0,5,0,0,Got to the ER@8pm.Its is now 1am and my husban...,2018-03-21 08:04:56
627432,uInPUuEwOF0fbh1QOB3i0Q,7l1Wy8Lh5wKVhIT3G4mPVQ,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,The worst service. The worst 3rd world nursing...,2018-04-03 03:06:01
270949,ZwwwPxoT8XiYdASztbrqRA,9QvO3REQDaiacQLLnWxUiA,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,"Emergency services here are a joke, they actua...",2018-04-09 07:37:14
479981,QvhEukgW1CM-YuDuCA2_QQ,XfdYNSPsEmyweE5dYlxj_A,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,Was sceptical after reading reviews but decide...,2018-04-22 21:29:03
458396,7QBaH1qydIi1FN6ARtiFiw,ay4OOkC1-xWrUX7y08okcA,ujmEBvifdJM6h6RLv4wQIg,2.0,4,0,0,They where great a couple of months ago when m...,2018-04-24 03:09:01
532802,auv7nRt3vWNyYryqHkJh6A,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,If you are Deaf/deaf/HOH do not come to this h...,2018-04-24 19:12:49
522977,qnv3QdjXheYBJOYxq4w9kg,FGMh6kUnR_BYNCq7sgqQnw,ujmEBvifdJM6h6RLv4wQIg,1.0,4,0,0,Do NOT go to this ER as a walk-in. Maybe you w...,2018-04-27 05:42:49
6864,Pm6qydbW58BB0zdWCPlBmg,Skzdl0sWhW88525a1vr59g,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,"Went in for a broken finger, was asked if I wa...",2018-05-08 19:27:59
119390,5uhMtxL12IQl-PH1kls1FA,hSTQa4VovgWTil21ONgCng,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,"Everything was efficient and professional, and...",2018-05-10 16:30:16
124143,pQFevU5KZqmLQVUyZocNRA,8RaAPsHIYnGSSjUiWZ38CQ,ujmEBvifdJM6h6RLv4wQIg,1.0,3,0,0,"Awful communication between staff, security, a...",2018-05-10 21:40:31
410357,a8CiyvUJ-iRuoj65bzKVhg,R9Bm86DXed10xMvhJrcDdQ,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,I came into this hospital in excruciating agon...,2018-05-18 02:48:15
98633,jcyGlsxGpZ4U5ESfEOMM_g,upNep4Q2mMownruMWtUVGA,ujmEBvifdJM6h6RLv4wQIg,4.0,3,2,1,Ok I've been in and out of this hospital count...,2018-05-20 21:14:53
327599,z9A6jXX8TQnfcCs-DV5Cig,xv_TejhP-kC3yE1MfJEl8w,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,The nursing staff at MountainView hospital wer...,2018-05-24 18:26:34
380036,jeGvBgPmUo_iXSlhdS4AxQ,0ZpneAMCGI8vahkKBifFag,ujmEBvifdJM6h6RLv4wQIg,5.0,0,1,0,This is a great hospital. I come here for emer...,2018-05-25 19:14:37
617630,DkRh09tPv0L7ajNz3Fo9pQ,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,Have started to get bills for this visit. Beca...,2018-06-08 16:43:41
236953,CgCf33b097tAOb9fRmxpEg,ojUmQAg6v3a4PLnrZXnn6A,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,My wife had a baby at MountainView in May and ...,2018-06-12 21:39:16
527732,8F7mgN8ydn8YCKthe1DJ6Q,wRGsi90kI0g2ModMB_4RLQ,ujmEBvifdJM6h6RLv4wQIg,4.0,0,0,0,My son was at Mountain View Hospital approxima...,2018-06-24 16:53:59
290404,pZ9tI12beJEX-z4-QaQT3A,uuDnH2Q10BR8uQN-B7tNnw,ujmEBvifdJM6h6RLv4wQIg,4.0,1,0,1,The doctors here are amazing. I came in at 8 c...,2018-06-24 20:23:07
191094,vO_iH6ci-REZoPahnHYuIw,5g3xeG3LbZIg6M6Sztvx-g,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,Came to the labor and delivery at 38 weeks hop...,2018-06-29 16:57:59
485368,xP2C15MKYmpgQPvK17aUyQ,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,Have started to get bills for this visit. Beca...,2018-07-03 15:23:47
120983,YSgAIigv3v_9JZsbHgZu6g,BOoXITStv6nD-V8FIsfkXA,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,We went to the ER for my daughter today and I ...,2018-07-20 05:01:35
309470,ZFjhLz-I-nEVcrmEGoUJ6A,d-rAu07yZBvccumrDWZDEA,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,Their security guard assaulted me and tried to...,2018-07-22 04:27:15
182743,EA2lZJCk67U5U8ERlQTSuQ,XUi14pMmFI9lBD61zYzejg,ujmEBvifdJM6h6RLv4wQIg,1.0,2,0,0,"Unfortunately, as a 40 year old male I had my ...",2018-07-28 16:55:49
5998,kEs5u0cGPtiSQCLW7b0l9g,x3brMMbJrAW9PwW5A6YL5w,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,I have never been more disappointed by the car...,2018-08-14 05:25:33
338084,Psh2CjmtoQWARc_3L0jAvw,IyFC1V-bH971zp5bXc-KGA,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,If you want to die pick this hospital. My mom ...,2018-08-19 06:29:25
580264,woEdqYMKtq4DhAMwremryA,CsDWHXSc-3vaxW90-itGaw,ujmEBvifdJM6h6RLv4wQIg,2.0,1,1,0,Drs are great the emergency room is great and ...,2018-08-20 00:53:21
91938,lUVVyXY3Wpd0rT7fnHw7pw,0Fboqis5kwMVEsAoJp41YQ,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,FIVE STARS for this hospital I was in the labo...,2018-08-25 20:49:35
370152,G507rmABe1YbSLGUQ91VEg,IDB_lNr1wQ1khSXVxY12lw,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,"All the staff are so fast, efficient, respectf...",2018-08-29 16:06:11
296037,WzDO6r8c1DZJlhZmMQYvxg,Cn_m3rMdYZFZHZgBlLasvQ,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,Just got off the phone with radiology speciali...,2018-08-29 17:58:30
337440,z0UkpFtoIwVOTzthjtq-Bg,HJzKLRGilKNUYpQym2vFCQ,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,Been stuck in the ER for hours.my wife had tes...,2018-08-29 21:09:45
67110,uvBR7RQrZtk3cGCVeRfuqw,BQ9g1GNwMgtvzOp18gKGTg,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I am an oncology patient and I have just compl...,2018-09-03 19:12:55
164076,TYimr0srOvczcYjBsbGwzw,8oRDqvGU1LN15JjrE_xhwA,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I had a procedure here which required me to be...,2018-09-07 13:19:12
345569,JdmsdyiKOvRyRU5Q6Zn63w,yOMZeTXJtYXAHWue5Rx_mg,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,The worst fucking hospital I have ever known.....,2018-09-11 00:52:41
551425,P9VoV8O6eWZjqUptPPzmVA,isECmx9e7qZ3nWEfBeNglw,ujmEBvifdJM6h6RLv4wQIg,2.0,0,0,0,"I saw 9 different staff members, 10 including ...",2018-09-21 22:35:05
595759,EtkYfZqsW6SaXM5SdpsSfQ,D8R1Zf7N8mp_ktdWYdRnlA,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I had both of my children here and was absolut...,2018-09-25 01:14:27
125521,6bGUNtdVBantgFIuj-huSg,-cKU64LIVr9ekjmBXYxzGw,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,The labor& delivery & postpartum unit here is ...,2018-09-28 12:04:18
595610,F8m6VnyZEKAGPiT535_4TQ,Hmo9AY2JdZejG5LkLRLU8g,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,Doctor's will not spend more than 30 seconds w...,2018-10-02 00:24:30
638160,cCxS3x3g3uJAu8nqqkxoNA,N2pQoq8PAfDEzTNNqUscZg,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,Had double hernia surgery in September 2018. I...,2018-10-18 03:05:48
587769,7DuGAZxEXKLlMc8ieX1t1Q,-1x8gXJnrI-FeZPNvnfbRg,ujmEBvifdJM6h6RLv4wQIg,2.0,0,0,0,(Amusing Review worth reading) This is Prime ...,2018-10-19 20:25:01
634258,qnvEhG2o2Y5xyKL4WaSmvQ,OMR_4MgVsZ2rtAC9iPrTSw,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,I had two back surgeries this summer. One at ...,2018-10-30 04:11:02
623115,Grj_ur8eff7Wu3qU1ALIkQ,d_lsGHWZwSDNWtSvvmfURQ,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,I came into mountain view hospital a month ago...,2018-10-30 06:20:27
639058,eV551itH41V3m6FXdmLZwA,KxIQkqoA79Jky4tg8hUC2g,ujmEBvifdJM6h6RLv4wQIg,1.0,1,0,0,DONT COME HERE THE NURSES HAVE NO CLUE WHAT TH...,2018-10-31 05:50:56
582256,1UsUbSXuLVZXImJ4ZAesUg,5lhORmkta9b4RzCLdzoq1w,ujmEBvifdJM6h6RLv4wQIg,5.0,0,0,0,For Dr. Paul W. Nelson And His Associates \n\n...,2018-11-07 19:11:33
561395,pusJ6EKVQVxox7tA0L9SSA,1kXHsplFug2x_u-6Jw5rig,ujmEBvifdJM6h6RLv4wQIg,1.0,0,0,0,We are here at this hospital disgusted with th...,2018-11-14 06:12:10

### Combining necessary datasets in the Inspection Data

In [7]:
Inspections = pd.read_csv(r"C:/Users/abdul/Desktop/restaurant_inspections.csv", delimiter=";")

In [8]:
Inspections.head(10)

,serial_number,permit_number,facility_id,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,permit_status,inspection_result,violations,record_updated,Unnamed: 15
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,A,NaN,Compliant,113,2013-02-21 22:26:12,NaN
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,C,NaN,C Downgrade,"12,14,21,22,25,26,27,28,30,31,36,37,64,111,112...",2013-02-21 22:26:12,NaN
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,A,NaN,Compliant,NaN,2013-02-21 22:26:12,NaN
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,A,NaN,Compliant,"4,64",2013-02-21 22:26:12,NaN
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,A,NaN,Compliant,"31,35,37",2013-02-21 22:26:12,NaN
5,DA0001128,PR0000411,FA0002433,NaN,2008-01-14 00:00:00,2008-01-14 11:15:00,EE7000832,916,10.0,A,A,NaN,Compliant,"34,37,64",2013-02-21 22:26:12,NaN
6,DA0001129,PR0000411,FA0002433,NaN,2008-10-07 00:00:00,2008-10-07 12:10:00,EE7000832,916,5.0,A,A,NaN,Compliant,"13,19,31",2013-02-21 22:26:12,NaN
7,DA0001130,PR0000411,FA0002433,NaN,2009-08-25 00:00:00,2009-08-25 11:25:00,EE7000832,916,6.0,A,A,NaN,Compliant,"35,36,112",2013-02-21 22:26:12,NaN
8,DA0001131,PR0000411,FA0002433,NaN,2010-03-30 00:00:00,2010-03-30 11:30:00,EE7000392,916,18.0,B,B,NaN,B Downgrade,"4,9,12,27,31,112",2013-02-21 22:26:12,NaN
9,DA0001132,PR0000411,FA0002433,NaN,2010-04-13 00:00:00,2010-04-13 11:15:00,EE7000392,916,1.0,A,A,NaN,Compliant,37,2013-02-21 22:26:12,NaN

In [9]:
# Cleaning
Inspections.drop(columns=["Unnamed: 15"], axis=1, inplace=True)

In [10]:
# Because this is the main data, we have to maintain this number of rows
Inspections.shape

(261892, 15)

In [11]:
# Reading inspection type data
Inspection_types = pd.read_csv(r"C:/Users/abdul/Desktop/restaurant_inspection_types.csv", delimiter=";")

In [12]:
Inspection_types.head()

   inspection_type_id                inspection_type  Unnamed: 2
0                 604  Epidemiological Investigation         NaN
1                 902        Complaint Investigation         NaN
2                 914                  Re-inspection         NaN
3                 916             Routine Inspection         NaN
4                 918     Special Request Inspection         NaN

In [13]:
# cleaning
Inspection_types.drop(Inspection_types.columns[2], axis=1, inplace=True)
Inspection_types.head()

   inspection_type_id                inspection_type
0                 604  Epidemiological Investigation
1                 902        Complaint Investigation
2                 914                  Re-inspection
3                 916             Routine Inspection
4                 918     Special Request Inspection

In [14]:
# performing a join to get inspection types
Inspections = pd.merge(Inspections, Inspection_types, on="inspection_type_id")

In [15]:
Inspections.head()

,serial_number,permit_number,facility_id,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,permit_status,inspection_result,violations,record_updated,inspection_type
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,A,NaN,Compliant,113,2013-02-21 22:26:12,Routine Inspection
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,C,NaN,C Downgrade,"12,14,21,22,25,26,27,28,30,31,36,37,64,111,112...",2013-02-21 22:26:12,Routine Inspection
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,A,NaN,Compliant,NaN,2013-02-21 22:26:12,Routine Inspection
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,A,NaN,Compliant,"4,64",2013-02-21 22:26:12,Routine Inspection
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,A,NaN,Compliant,"31,35,37",2013-02-21 22:26:12,Routine Inspection

In [16]:
# confirming shape
Inspections.shape

(261892, 16)

In [17]:
# Getting establishment info
Establishments = pd.read_csv(r"C:/Users/abdul/Desktop/restaurant_establishments.csv", delimiter=";")

In [18]:
Establishments.head()

,permit_number,facility_id,owner_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,...,nciaa,plan_review,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,Unnamed: 21
0,PR0000002,FA0002677,NaN,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,...,Y,NaN,1,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL,NaN
1,PR0000003,FA0002678,NaN,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159439,-115.079751,10,...,Y,NaN,1,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724,NaN
2,PR0000004,FA0002679,NaN,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,...,Y,NaN,1,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965,NaN
3,PR0000005,FA0002680,NaN,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,...,Y,NaN,1,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922,NaN
4,PR0000006,FA0002681,NaN,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,...,Y,NaN,1,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA,NaN

In [19]:
# cleaning
Establishments.drop(columns=["Unnamed: 21"], inplace=True)

In [20]:
Establishments.shape

(26145, 21)

In [21]:
Establishments.head()

,permit_number,facility_id,owner_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,...,zip_code,nciaa,plan_review,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text
0,PR0000002,FA0002677,NaN,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,...,89101-5600,Y,NaN,1,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL
1,PR0000003,FA0002678,NaN,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159439,-115.079751,10,...,89104-5506,Y,NaN,1,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724
2,PR0000004,FA0002679,NaN,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,...,89130-3302,Y,NaN,1,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965
3,PR0000005,FA0002680,NaN,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,...,89108-7049,Y,NaN,1,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922
4,PR0000006,FA0002681,NaN,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,...,89101-6370,Y,NaN,1,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA

In [22]:
# adding establishment info to the main data(Inspections)
Inspections = pd.merge(Inspections, Establishments[["permit_number", "facility_id", "PE", "restaurant_name", "location_name",
                                                   "address", "longitude", "latitude", "city_id", "city_name", 
                                                    "zip_code", "nciaa"]], on="permit_number", how="left")

In [23]:
Inspections.head()

,serial_number,permit_number,facility_id_x,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,...,PE,restaurant_name,location_name,address,longitude,latitude,city_id,city_name,zip_code,nciaa
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y

In [24]:
# confirming shape
Inspections.shape

(261892, 27)

#### I believe this is as much as we need from the Inspection datasets. I will proceed to joining with reviews and business datasets soon.

### Joining reviews and business datasets

In [25]:
df_business = pd.read_csv(r"C:/Users/abdul/Desktop/business.csv")

In [26]:
# business data
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",NaN
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,NaN,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

In [27]:
# reviews data
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [28]:
# combining business and reviews datasets
yelp = pd.merge(df, df_business, how="left", on="business_id", suffixes=["", "_b"])

In [29]:
yelp.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_b,review_count,is_open,attributes,categories,hours
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36,MountainView Hospital,...,NV,89128,36.215546,-115.248798,2.5,238.0,1.0,"{'ByAppointmentOnly': 'False', 'GoodForKids': ...","Fitness & Instruction, Doctors, Health & Medic...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33,Kelly Cardenas Salon - Hard Rock Hotel & Casino,...,NV,89169,36.110083,-115.153871,4.5,66.0,1.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Beauty & Spas, Hair Stylists, Makeup Artists, ...","{'Monday': '10:0-17:0', 'Tuesday': '10:0-19:0'..."
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03,J. Philipp Centers for Family and Cosmetic Den...,...,AZ,85286,33.259702,-111.790203,3.5,39.0,1.0,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Health & Medical, Cosmetic Dentists, Orthodont...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-17:0', '..."
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38,Regal Beagle Pub,...,AB,T2J 3G8,50.969721,-114.070115,3.0,13.0,1.0,"{'HasTV': 'True', 'RestaurantsReservations': '...","Bars, Pubs, Nightlife, Tapas Bars, Restaurants",NaN
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38,White Teeth AZ,...,AZ,85251,33.496713,-111.927958,4.5,75.0,1.0,"{'WheelchairAccessible': 'False', 'BusinessAcc...","Teeth Whitening, Beauty & Spas","{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'..."

In [30]:
# Inspections data
Inspections.head()

,serial_number,permit_number,facility_id_x,owner_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,...,PE,restaurant_name,location_name,address,longitude,latitude,city_id,city_name,zip_code,nciaa
0,DA0001121,PR0000411,FA0002433,NaN,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
1,DA0001122,PR0000411,FA0002433,NaN,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
2,DA0001123,PR0000411,FA0002433,NaN,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
3,DA0001124,PR0000411,FA0002433,NaN,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y
4,DA0001125,PR0000411,FA0002433,NaN,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,...,1006.0,Black Mountain Clubhouse Restaurant,Black Mountain Clubhouse,500 Greenway Rd,-114.973984,36.019531,7.0,Henderson,89015-7464,Y

In [31]:
Inspections.columns

Index(['serial_number', 'permit_number', 'facility_id_x', 'owner_id',
       'inspection_date', 'inspection_time', 'employee_id',
       'inspection_type_id', 'inspection_demerits', 'inspection_grade',
       'inspection_grade_new', 'permit_status', 'inspection_result',
       'violations', 'record_updated', 'inspection_type', 'facility_id_y',
       'PE', 'restaurant_name', 'location_name', 'address', 'longitude',
       'latitude', 'city_id', 'city_name', 'zip_code', 'nciaa'],
      dtype='object')

In [32]:
# some data cleaning
Inspections.drop(columns=["facility_id_y"], inplace=True)

In [33]:
# owner ID is empty and not needed
Inspections.owner_id.isna().sum()

261892

In [34]:
Inspections.drop(columns=["owner_id"], inplace=True)

In [35]:
yelp.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_b', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [36]:
Inspections.city_name.value_counts()

Las Vegas             210056
Henderson              23745
North Las Vegas        15212
Laughlin                4488
Mesquite                2863
Boulder City            2055
Primm                   1433
Searchlight              253
Overton                  239
Jean                     228
Blue Diamond             139
Logandale                126
Indian Springs           124
Moapa                     82
Sandy Valley              78
Goodsprings               75
Cal-Nev-Ari               36
Coyote Springs            31
Bunkerville               30
Mount Charleston          30
Spring Valley Mtns        16
Pahrump                   15
HENDERSON                 12
Salt Lake City             9
Shoshone                   4
Palm Gardens               4
San Diego                  3
Apple Valley               3
Summerlin                  3
Hansen                     3
Las VGAS                   1
Bakersfield                1
Beaver Dam                 1
Spokane                    1
Arlington                  1
Paradise Valley            1
La VeGAS                   1
St George                  1
Name: city_name, dtype: int64

In [37]:
yelp.city.value_counts().head(20)

Las Vegas          964724
Phoenix            348887
Toronto            246368
Scottsdale         189234
Charlotte          144168
Pittsburgh         105822
Henderson          105581
Tempe               94146
Chandler            78703
Mesa                77067
Montréal            70919
Gilbert             59110
Cleveland           54873
Madison             49653
Glendale            48277
Calgary             45375
Mississauga         25872
Peoria              24172
North Las Vegas     23834
Markham             23066
Name: city, dtype: int64

In [38]:
# Since we have North Las vegas and Las vegas appearing in both datasets we can
# consider North Las vegas too as a city to work with
Inspections = Inspections.loc[(Inspections.city_name == "Las Vegas") | (Inspections.city_name == "North Las Vegas")]

In [39]:
Inspections.shape

(225268, 25)

In [40]:
yelp = yelp.loc[(yelp.city == "Las Vegas") | (yelp.city == "North Las Vegas")]

In [41]:
yelp.shape

(988558, 22)

In [42]:
yelp.reset_index()

,index,review_id,user_id,business_id,stars,useful,funny,cool,text,date,...,state,postal_code,latitude,longitude,stars_b,review_count,is_open,attributes,categories,hours
0,0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36,...,NV,89128,36.215546,-115.248798,2.5,238.0,1.0,"{'ByAppointmentOnly': 'False', 'GoodForKids': ...","Fitness & Instruction, Doctors, Health & Medic...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1,1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33,...,NV,89169,36.110083,-115.153871,4.5,66.0,1.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Beauty & Spas, Hair Stylists, Makeup Artists, ...","{'Monday': '10:0-17:0', 'Tuesday': '10:0-19:0'..."
2,9,RS_GTIT6836bCaPy637kNQ,nMeCE5-xsdleyxYuNZ_7rA,oxwGyA17NL6c5t1Etg5WgQ,3.0,1,0,1,It's a giant Best Buy with 66 registers. I do...,2012-02-29 21:52:43,...,NV,89119,36.065085,-115.174592,2.5,515.0,1.0,"{'WheelchairAccessible': 'True', 'RestaurantsP...","Shopping, Computers, Electronics, Mobile Phones","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
3,10,kbtscdyz6lvrtGjD1quQTg,FIk4lQQu1eTe2EpzQ4xhBA,8mIrX_LrOnAqWsB5JrOojQ,4.0,0,0,0,"Like walking back in time, every Saturday morn...",2011-11-30 02:11:15,...,NV,89119,36.101449,-115.130511,4.5,1258.0,1.0,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Performing Arts, Amusement Parks, Museums, Arc...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
4,13,qlXw1JQ0UodW7qrmVgwCXw,bAhqAPoWaZYcyYi7bs024Q,LUN6swQYa4xJKaM_UEUOEw,4.0,0,0,0,Michael from Red Carpet VIP is amazing ! I rea...,2018-04-27 20:25:26,...,NV,89109,36.131931,-115.160451,4.5,153.0,1.0,"{'HasTV': 'False', 'RestaurantsPriceRange2': '...","Hotels & Travel, Travel Services, Nightlife, T...","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988553,3331362,KMM0bHaksVYz0nWTstlJBw,aYXdHt7iqhaDUnfxgrSRkg,Se-co1eXBho5A4YwMfKMIQ,5.0,0,0,0,Breakfast w wife on a cold winter day. Food wa...,2018-11-09 18:21:07,...,NV,89148,36.078278,-115.298621,4.5,364.0,1.0,"{'RestaurantsAttire': ""u'casual'"", 'OutdoorSea...","Diners, Breakfast & Brunch, American (Traditio...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-15:0', '..."
988554,3331363,b2cpfxkeRc7B7z_Vfb69Zg,XBgaD1wfLwrBrDs41s4bcg,SM-k-3eSUmSGPejHtVrzAw,5.0,0,0,0,"Nice & very polite staff, also great massage c...",2018-11-09 20:54:20,...,NV,89115,36.240074,-115.065381,3.5,17.0,1.0,"{'BusinessParking': ""{'garage': False, 'street...","Laundromat, Laundry Services, Dry Cleaning, Lo...","{'Monday': '7:0-21:30', 'Tuesday': '7:0-21:30'..."
988555,3331366,g9qkyVmnkLfPK2J1fl7aNw,Yi9eWvE3-uGCUhhBNfqf7w,ESaC7VsaUh2eeBFAhyYGiw,1.0,0,0,0,DO NOT MOVE HERE!!!!!!!!!!!! I wish I could gi...,2018-11-10 17:49:37,...,NV,89117,36.137805,-115.280335,2.0,70.0,1.0,"{'BusinessAcceptsCreditCards': 'False', 'ByApp...","Real Estate, Apartments, Home Services","{'Monday': '9:0-19:0', 'Tuesday': '9:0-18:0', ..."
988556,3331379,BrScccsv9AfW-pivydZ3ew,HD28cmtcmEizDIOOfqzeGg,na4Th5DrNauOv-c43QQFvA,4.0,11,2,10,It was our anniversary and I wanted to treat m...,2018-11-07 01:42:04,...,NV,89109,36.112629,-115.176706,3.5,3187.0,1.0,"{'RestaurantsPriceRange2': '3', 'RestaurantsGo...","Event Planning & Services, Casinos, Arts & Ent...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
988557,3331381,_7B2PK8MPDoWh_iaI3e-ew,LJb7YzJeX8jueoqe_mEj9A,t8DeC89bZFquyKoWi492xw,1.0,1,0,0,My BS detector buzzed loudly after talking wit...,2018-11-11 15:45:51,...,NV,89148,36.089871,-115.297672,1.0,26.0,0.0,{'BusinessAcceptsCreditCards': 'True'},"Arts & Entertainment, Professional Services, M...","{'Monday': '9:0-15:0', 'Tuesday': '9:0-15:0', ..."

In [43]:
Inspections = Inspections.reset_index()

In [44]:
Inspections.loc[:, ['inspection_date', 'inspection_time']] = \
    Inspections.loc[:, ['inspection_date', 'inspection_time']].apply(pd.to_datetime)

In [45]:
Inspections.head()

,index,serial_number,permit_number,facility_id_x,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,...,PE,restaurant_name,location_name,address,longitude,latitude,city_id,city_name,zip_code,nciaa
0,41,DA0001712,PR0000426,FA0002435,2007-04-09,2007-04-09 15:25:00,EE7000360,916,2.0,A,...,1049.0,CAESARS AUGUSTUS BUTLER PANTRY,CAESARS PALACE HOTEL & CASINO,3570 S Las Vegas Blvd,-115.175058,36.116156,10.0,Las Vegas,89109-8924,Y
1,42,DA0001713,PR0000426,FA0002435,2008-05-29,2008-05-29 14:15:00,EE7000417,916,0.0,A,...,1049.0,CAESARS AUGUSTUS BUTLER PANTRY,CAESARS PALACE HOTEL & CASINO,3570 S Las Vegas Blvd,-115.175058,36.116156,10.0,Las Vegas,89109-8924,Y
2,43,DA0001714,PR0000426,FA0002435,2009-06-29,2009-06-29 14:20:00,EE7000417,916,9.0,A,...,1049.0,CAESARS AUGUSTUS BUTLER PANTRY,CAESARS PALACE HOTEL & CASINO,3570 S Las Vegas Blvd,-115.175058,36.116156,10.0,Las Vegas,89109-8924,Y
3,44,DA0001715,PR0000426,FA0002435,2010-04-22,2010-04-22 14:10:00,EE7000417,916,0.0,A,...,1049.0,CAESARS AUGUSTUS BUTLER PANTRY,CAESARS PALACE HOTEL & CASINO,3570 S Las Vegas Blvd,-115.175058,36.116156,10.0,Las Vegas,89109-8924,Y
4,45,DA0001716,PR0000426,FA0002435,2011-03-15,2011-03-15 14:15:00,EE7000567,916,2.0,A,...,1049.0,CAESARS AUGUSTUS BUTLER PANTRY,CAESARS PALACE HOTEL & CASINO,3570 S Las Vegas Blvd,-115.175058,36.116156,10.0,Las Vegas,89109-8924,Y

In [46]:
yelp.loc[:, ['date']] = yelp.loc[:, ['date']].apply(pd.to_datetime)

In [47]:
yelp.head(30)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_b,review_count,is_open,attributes,categories,hours
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36,MountainView Hospital,...,NV,89128,36.215546,-115.248798,2.5,238.0,1.0,"{'ByAppointmentOnly': 'False', 'GoodForKids': ...","Fitness & Instruction, Doctors, Health & Medic...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33,Kelly Cardenas Salon - Hard Rock Hotel & Casino,...,NV,89169,36.110083,-115.153871,4.5,66.0,1.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Beauty & Spas, Hair Stylists, Makeup Artists, ...","{'Monday': '10:0-17:0', 'Tuesday': '10:0-19:0'..."
9,RS_GTIT6836bCaPy637kNQ,nMeCE5-xsdleyxYuNZ_7rA,oxwGyA17NL6c5t1Etg5WgQ,3.0,1,0,1,It's a giant Best Buy with 66 registers. I do...,2012-02-29 21:52:43,Fry's,...,NV,89119,36.065085,-115.174592,2.5,515.0,1.0,"{'WheelchairAccessible': 'True', 'RestaurantsP...","Shopping, Computers, Electronics, Mobile Phones","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
10,kbtscdyz6lvrtGjD1quQTg,FIk4lQQu1eTe2EpzQ4xhBA,8mIrX_LrOnAqWsB5JrOojQ,4.0,0,0,0,"Like walking back in time, every Saturday morn...",2011-11-30 02:11:15,Pinball Hall Of Fame,...,NV,89119,36.101449,-115.130511,4.5,1258.0,1.0,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Performing Arts, Amusement Parks, Museums, Arc...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
13,qlXw1JQ0UodW7qrmVgwCXw,bAhqAPoWaZYcyYi7bs024Q,LUN6swQYa4xJKaM_UEUOEw,4.0,0,0,0,Michael from Red Carpet VIP is amazing ! I rea...,2018-04-27 20:25:26,Red Carpet VIP,...,NV,89109,36.131931,-115.160451,4.5,153.0,1.0,"{'HasTV': 'False', 'RestaurantsPriceRange2': '...","Hotels & Travel, Travel Services, Nightlife, T...","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
22,IByf6mVY0WA838XNSh-5MA,3CJUJILq7CLHk_9OrvpvQg,I4Nr-MVc26qWr08-S3Q1ow,4.0,0,0,0,The food is always good and the prices are rea...,2016-01-17 05:26:22,Greenberg's Deli,...,NV,89136,36.102379,-115.174547,4.0,333.0,1.0,"{'RestaurantsPriceRange2': '2', 'HasTV': 'Fals...","Delis, Sandwiches, Pizza, Restaurants","{'Monday': '9:0-22:0', 'Tuesday': '9:0-22:0', ..."
23,S337tATeouQJdoPYyir29w,2mxBNBeFrgDszqGS5tdEHA,d_L-rfS1vT3JMzgCUGtiow,5.0,0,0,0,Pick any meat on the planet and the chef will ...,2016-07-25 03:57:19,Border Grill,...,NV,89119,36.090067,-115.176973,4.0,1623.0,1.0,"{'WiFi': ""u'free'"", 'RestaurantsTakeOut': 'Tru...","Breakfast & Brunch, Restaurants, Tapas/Small P...","{'Monday': '10:0-22:0', 'Tuesday': '11:0-22:0'..."
24,D_UvaenM25iNd6aehTZ0MA,8NwU4TRsD3S6gIfBqFzDMQ,Sfc8Haz2Yri8Mo1L0E0TsA,5.0,0,0,0,"Great food, great service. Obviously fried chi...",2012-11-06 03:41:43,Chicken Bonz,...,NV,89118,36.071196,-115.207463,3.0,52.0,0.0,"{'Ambience': ""{'romantic': False, 'intimate': ...","Chicken Wings, Burgers, Restaurants","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
27,qm97yMwREr7BKkexlwLFbg,TTRVdTXKcq-xn6-1IWbwEw,Gyrez6K8f1AyR7dzW9fvAw,5.0,0,0,1,their pettuccine was fresh-made in the morning...,2013-12-28 22:28:08,Casanova,...,NV,89109,36.121579,-115.168664,4.0,495.0,1.0,"{'HasTV': 'True', 'Ambience': ""{'romantic': Fa...","Restaurants, Tapas Bars, Mediterranean, Italian","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ..."
29,DAC4zWY2ZMa1vxpN9RrDvA,yxyRt-zoh_A6PMThX-h9Vw,SNL64axQhCO6Z7ohcWg3wA,1.0,0,0,0,This review is in regards to our experience wa...,2017-02-09 03:43:25,Westgate Sportbook,...,NV,89109,36.136097,-115.151489,3.5,80.0,1.0,{'GoodForKids': 'False'},"Casinos, Arts & Entertainment","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
30,0AsmPiAQduxh5jE_si8cLA,C_hUvw2z0R-Rv0yZb6QCZA,dm6sO_Y8JdKTE1ZM955yug,5.0,0,0,0,ended up here because Raku was closed and it r...,2014-12-17 19:04:33,Chada Thai & Wine,...,NV,89146,36.127375,-115.224171,4.5,464.0,0.0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Wine Bars, Restaurants, Bars, Thai, Nightlife","{'Tuesday': '17:0-3:0', 'Wednesday': '17:0-3:0..."
35,wOv7JiO0EGcJ61P2JcDS1g,en0xQXlvRk-ZtKlaW4I8eQ,N0apJkxIem2E8irTBRKnHw,2.0,0,0,0,Went here last weekend and was pretty disappoi...,2015-01-18 15:30:50,Wolfgang Puck Bar & Grill Las Vegas,...,NV,89109,36.102543,-115.169884,4.0,1615.0,1.0,"{'WiFi': ""u'free'"", 'BikeParking': 'False', 'B...","Sandwiches, Pizza, Salad, Food, Beer, Wine & S...","{'Monday': '11:30-6:0', 'Tuesday': '11:30-6:0'..."
37,JIC8qNMbcAPAzQMPrtsTJw,fxrQSMhHlBv6eJVRdchG9Q,IMLrj2klosTFvPRLv56cng,4.0,1,1,1,Dinner Was Fantastic! Service was great We sta...,2014-10-11 03:50:27,Honey Salt,...,NV,89145,36.160577,-115.292996,4.0,1517.0,1.0,"{'BikeParking': 'True', 'BusinessParking': ""{'...","Cafes, American (New), Restaurants","{'Monday': '10:30-15:0', 'Tuesday': '11:0-21:0..."
42,NqYSX93Amv4sd5pPPr3Gag,zFYFuufYWQSPj0r5lrKQKg,wJj1EwYcXHdvA9zKqmb5hQ,5.0,0,0,0,I called the number provided and same day they...,2018-10-04 11:20:42,Redstone Roofing,...,NV,89129,36.233100,-115.271905,5.0,8.0,1.0,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Roofing, Home Services","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ..."
44,f0B9-r14-bLudyu5S7aLhw,SvMGr_Oih7ivtzmnCL-Tmg,ujHiaprwCQ5ewziu0Vi9rw,1.0,1,0,0,We had dinner at the Bellagio Buffet last nigh...,2013-12-07 00:14:06,The Buffet at Bellagio,...,NV,89109,36.113220,-115.176890,3.5,4227.0,1.0,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","American (New), Buffets, Restaurants","{'Monday': '7:0-22:0', 'Tuesday': '7:0-22:0', ..."
48,u1jQX0KfnG3AHty4ifEpFA,8vIK6ndl8yzIdmSDnGp0tw,OVTZNSkSfbl3gVB9XQIJfw,4.0,0,0,0,"notes: 1 visit, breakfast/lunch\noverall: Exce...",2010-01-08 04:28:23,Cravings Buffet,...,NV,89109,36.121237,-115.174105,3.0,1367.0,1.0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","American (New), Buffets, Restaurants, American...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
51,bvEdkl-weZGMLLRF9e0-ew,0nTJWagRU8_-KS1x7Zw5Yw,X5uxdU9GHoUAqo2wmbg3OQ,5.0,0,0,1,Best Wonton soup ever!!! Delicious food and gr...,2015-11-06 00:02:50,Island Malaysian Cuisine,...,NV,89103,36.125592,-115.211199,4.0,265.0,1.0,"{'Alcohol': ""u'beer_and_wine'"", 'BikeParking':...","Asian Fusion, Malaysian, Ethnic Food, Food, Sp...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
53,7Jy730ib54YKYgZRvcBNJg,ROsjOYL8Jwv-q78mNm69Hg,eoyvbnRYQe-z85e8Rc6vAg,4.0,1,0,0,We had dinner here and the food was excellent ...,2013-08-15 15:00:14,Grotto Ristorante,...,NV,89101,36.170315,-115.144900,4.0,500.0,1.0,"{'RestaurantsAttire': ""'casual'"", 'OutdoorSeat...","Italian, Restaurants, Bars, Nightlife, America...","{'Monday': '11:30-0:0', 'Tuesday': '11:30-0:0'..."
56,VqZMgUf4wQMTeCWg2M_e8Q,POr1NTWV45OaNCOLfb47fw,OVTZNSkSfbl3gVB9XQIJfw,3.0,0,0,0,We went here Saturday for dinner. We had a 2-1...,2014-09-09 19:15:26,Cravings Buffet,...,NV,89109,36.121237,-115.174105,3.0,1367.0,1.0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","American (New), Buffets, Restaurants, American...","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ..."
57,UIvFkXLBxWxM6aekvaCp8Q,0FMte0z-repSVWSJ_BaQTg,WsdmzI2giWHcRN2plprxIg,2.0,5,14,4,Took my kids here to hang out on one fine 72 d...,2013-05-28 21:06:57,Aliante Nature Discovery Park,...,NV,89084,36.287422,-115.176694,3.5,79.0,1.0,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Parks, Active Life, Playgrounds",NaN
62,E4LqIZ7DJd_R4ZHSNKx4RQ,DoRCeCcJbrsM2BiAKj3trA,SU56w479vUfFHsvmvQIf7A,4.0,7,5,6,So good! They didn't make it to 5 stars due to...,2016-07-25 03:55:20,India Oven,...,NV,89119,36.144700,-115.155176,3.5,133.0,0.0,"{'BikeParking': 'True', 'RestaurantsPriceRange...","Restaurants, Indian, Pakistani","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
67,XAm4_-lUxzF_Y449cWMHLQ,ABUt9wCHRsSpa8i7rtNAuQ,aNe8ofTYrealxqv7VtFTuw,1.0,0,2,0,Th service here is very hit or miss... Sometim...,2015-07-16 07:31:28,Sierra Gold,...,NV,89118,36.070279,-115.224952,3.5,231.0,1.0,"{'RestaurantsReservations': 'False', 'Restaura...","Pubs, Sports Bars, Pizza, Nightlife, Food, Bre...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
72,QSe9EqmiImbguDVIraX_rg,II8eB5mYk200GW-m-wpsug,z9aXGRH8xtqpNDFE5_I3KA,4.0,0,0,0,received a mailer and thought okay let's go. ...,2015-06-21 00:56:28,The Bar @ Tropicana & Durango,...,NV,89147,36.103207,-115.279495,4.0,86.0,1.0,"{'HasTV': 'True', 'Ambience': ""{'romantic': Fa...","Restaurants, Bars, Nightlife, American (Tradit...",NaN
73,x4FUjCh_QOOL4LEQQQM-6A,JggB3gMgP1j5aKHmC4vpBw,74C1z6cqEdvJVgETTcEodw,4.0,0,0,0,Met an old close friend for dinner at Portofin...,2014-12-17 17:46:03,Portofino by Chef Michael LaPlaca,...,NV,89109,36.121305,-115.175582,4.0,287.0,0.0,"{'BYOBCorkage': ""'yes_free'"", 'RestaurantsAtti...","Arts & Entertainment, Italian, Hotels & Travel...","{'Monday': '17:0-22:0', 'Thursday': '17:0-22:0..."
78,VeJppsRLTWRKh4PkmcOzag,eJEcCIzJ5bqc0QpRGHSVCw,6xgcHeLad-VaoTIQewK84A,4.0,0,0,1,ooooooh yummy. i'm a red meat eating midweste...,2006-04-14 04:37:51,N9NE Steakhouse,...,NV,89103,36.114750,-115.194100,4.0,838.0,0.0,"{'RestaurantsTakeOut': 'False', 'Corkage': 'Tr...","Seafood, Steakhouses, American (Traditional), ...","{'Monday': '17:30-22:0', 'Tuesday': '17:30-22:..."
82,m2H0m3pDUNmkXZP4K8c_oA,fVK8D0rE9ez1fsQNW_bzRA,5qG4UHurI1yEozwn25WAFw,2.0,5,1,3,#1 it should be advertised as a vegetarian din...,2017-12-02 18:35:23,BLACKOUT Dining in the Dark,...,NV,89103,36.119787,-115.190605,4.0,300.0,1.0,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","Diners, Venues & Event Spaces, Event Planning ...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-23:0', ..."
84,SneRds-D0MCMWbIitd0AHg,WThN-4czFfMs1vYhvaf_9A,sk0stgY4NDJYOX1MbNJ3Pg,1.0,0,0,0,At least the Pinks concession stand by Section...,2018-09-25 03:58:48,T-Mobile Arena,...,NV,89119,36.103520,-115.174608,3.5,460.0,1.0,"{'NoiseLevel': ""u'very_loud'"", 'BikeParking': ...","Music Venues, Performing Arts, Nightlife, Arts...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
85,29S2A-Q8Vt4a-Z6St1dcWw,J6YedGZVdhagKKaIqgzIAw,HhVmDybpU7L50Kb5A0jXTg,4.0,0,0,0,Wonderful experience. We sat outside on the pa...,2015-03-06 07:24:15,Guy Fieri's Vegas Kitchen & Bar,...,NV,89109,36.118080,-115.172432,3.5,3222.0,1.0,"{'CoatCheck': 'False', 'Music': ""{'dj': False}...","Breakfast & Brunch, American (Traditional), Af...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
86,DmlGGWLHPAQl2v9qM5noyQ,8fpiTkK4MO5jJIXHFV4t5Q,5n2dA_QqO4c_7pSK0Of6AQ,1.0,3,1,1,I was told so many great things about this pla...,2015-07-28 09:33:12,Fatburger,...,NV,89121,36.137864,-115.065947,2.5,51.0,1.0,"{'RestaurantsReservations': 'False', 'OutdoorS...","Restaurants, American (Traditional), Food, Fas...","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."
91,m7eosmcK66RU_61UHbNMww,0v0aVNJEixurV1Ib0iqzJg,PFmB_iraAbTN9XMka7soqQ,5.0,1,0,0,Today was my first time seeing the staff at Be...,2017-06-27 22:49:09,Bella Smiles,...,NV,89118,36.079089,-115.242213,4.5,154.0,1.0,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Health & Medical, Dental Hygienists, Cosmetic ...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-19:0', '..."

In [48]:
yelp.loc[0, 'text']

'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.'

In [49]:
# pd.options.display.max_rows = 4000

### We should remove reviews that aren't for restaurants

In [50]:
yelp.shape

(988558, 22)

In [51]:
yelp.iloc[14].categories

'American (New), Buffets, Restaurants'

In [52]:
yelp[yelp.categories.isna()]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_b,review_count,is_open,attributes,categories,hours
58290,ckGJbN_YhteTIq7l6gwVHA,42GGZfpVhqAvFaRTjCtBgg,Pjmnta--nDOS6jHCDhsLGg,1.0,0,0,0,DO NOT USE THIS LADY !! RUN-RUN-RUN as fast a...,2016-07-04 17:33:20,Realtech Realty,...,NV,89032,36.222009,-115.173879,1.0,3.0,1.0,NaN,NaN,NaN
99524,gAMv7w1CnGIgtBM02tza1A,L5KwCwV8g_tH32MKgLBeiw,ZDOW_bRF6wtCNwkakMF-lA,5.0,0,0,0,"Fantastic Work, Mr. Noriega is a pleasure to...",2018-05-10 20:38:13,Noriega Masonry,...,NV,89129,36.230764,-115.281976,3.5,3.0,1.0,NaN,NaN,NaN
109161,SjSKXWOAI39a6aoauYLwHA,volBwG3beDUJaLhEhzAy3Q,_4423aHxT7EQ3peGS-7uVg,5.0,0,0,0,Switched from Chase. They offer online appoint...,2018-01-01 03:26:16,Bank of America,...,NV,89121,36.115763,-115.094714,1.5,8.0,1.0,NaN,NaN,NaN
110722,jwX4UHe_goEjjy-OX0XvsA,HWexWirGMojmnD7cRtB4PQ,ThEUWXkgLbi5RiulgybrTA,1.0,1,0,0,This company lost my return package and is bla...,2017-10-13 16:46:56,Monster Cable Products,...,NV,89030,36.228780,-115.105535,1.0,3.0,1.0,NaN,NaN,NaN
147654,ViZLpFSV9ZJ3ThG1qXqSTQ,A55MUdeTSKfInO_vlA7T_A,_4423aHxT7EQ3peGS-7uVg,1.0,0,0,0,Came in today to cash a check. There was only...,2015-06-11 22:09:46,Bank of America,...,NV,89121,36.115763,-115.094714,1.5,8.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258753,Rbb_v_D4bIHSiDzO9vrHwA,itT_r0ar_h7h2KgfHN31XQ,9mP0nNQ7b6qJB9aXtVPTDw,5.0,1,2,0,This place is amazing to work at for people lo...,2017-01-12 18:42:32,Sitel,...,NV,89119,36.068215,-115.153928,2.0,5.0,1.0,NaN,NaN,NaN
3264627,xmdMMUp08YsHAGK0kTqDCA,SYklvQPKwT_RjBr2D6ChxA,9mP0nNQ7b6qJB9aXtVPTDw,1.0,1,0,0,This SITEL Group I had applied for and had spe...,2018-09-19 18:46:41,Sitel,...,NV,89119,36.068215,-115.153928,2.0,5.0,1.0,NaN,NaN,NaN
3282033,28uH-XnCqbNfZlOuqO4s0g,kHnH2vYWZ2ANU2uBzd1kxA,9mP0nNQ7b6qJB9aXtVPTDw,1.0,7,0,0,The company is like any other get in quick cal...,2017-04-24 20:56:52,Sitel,...,NV,89119,36.068215,-115.153928,2.0,5.0,1.0,NaN,NaN,NaN
3315876,4YFBKCHfnh_NrmjYftB2oQ,QRXuX7txa-eR4m8iLduj2Q,9mP0nNQ7b6qJB9aXtVPTDw,1.0,7,0,0,Just say NOOOOO! Supposed to be a billion doll...,2016-11-25 04:57:45,Sitel,...,NV,89119,36.068215,-115.153928,2.0,5.0,1.0,NaN,NaN,NaN
3326745,a-i-ID9mkAg0QCCxaGEmkw,YE06DSNFC_qaSIXeRwTgHw,9mP0nNQ7b6qJB9aXtVPTDw,1.0,5,4,0,This company makes me sick. I called because t...,2016-05-21 15:09:50,Sitel,...,NV,89119,36.068215,-115.153928,2.0,5.0,1.0,NaN,NaN,NaN

In [53]:
# Taking out the 163 instances of NaNs for categories
yelp = yelp[yelp.categories.notna()]

In [54]:
yelp.shape

(988395, 22)

In [55]:
'''
We can take advantage of the categories attribute to extract only columns with 
"Restaurants" as one of the categories (Yelp did a good job of properly tagging reviews)
'''
x = yelp[yelp.categories.str.contains('Restaurant' or 'food' or 'bar')]

In [56]:
x.shape

(605500, 22)

In [57]:
x.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_b,review_count,is_open,attributes,categories,hours
10,kbtscdyz6lvrtGjD1quQTg,FIk4lQQu1eTe2EpzQ4xhBA,8mIrX_LrOnAqWsB5JrOojQ,4.0,0,0,0,"Like walking back in time, every Saturday morn...",2011-11-30 02:11:15,Pinball Hall Of Fame,...,NV,89119,36.101449,-115.130511,4.5,1258.0,1.0,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Performing Arts, Amusement Parks, Museums, Arc...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
22,IByf6mVY0WA838XNSh-5MA,3CJUJILq7CLHk_9OrvpvQg,I4Nr-MVc26qWr08-S3Q1ow,4.0,0,0,0,The food is always good and the prices are rea...,2016-01-17 05:26:22,Greenberg's Deli,...,NV,89136,36.102379,-115.174547,4.0,333.0,1.0,"{'RestaurantsPriceRange2': '2', 'HasTV': 'Fals...","Delis, Sandwiches, Pizza, Restaurants","{'Monday': '9:0-22:0', 'Tuesday': '9:0-22:0', ..."
23,S337tATeouQJdoPYyir29w,2mxBNBeFrgDszqGS5tdEHA,d_L-rfS1vT3JMzgCUGtiow,5.0,0,0,0,Pick any meat on the planet and the chef will ...,2016-07-25 03:57:19,Border Grill,...,NV,89119,36.090067,-115.176973,4.0,1623.0,1.0,"{'WiFi': ""u'free'"", 'RestaurantsTakeOut': 'Tru...","Breakfast & Brunch, Restaurants, Tapas/Small P...","{'Monday': '10:0-22:0', 'Tuesday': '11:0-22:0'..."
24,D_UvaenM25iNd6aehTZ0MA,8NwU4TRsD3S6gIfBqFzDMQ,Sfc8Haz2Yri8Mo1L0E0TsA,5.0,0,0,0,"Great food, great service. Obviously fried chi...",2012-11-06 03:41:43,Chicken Bonz,...,NV,89118,36.071196,-115.207463,3.0,52.0,0.0,"{'Ambience': ""{'romantic': False, 'intimate': ...","Chicken Wings, Burgers, Restaurants","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
27,qm97yMwREr7BKkexlwLFbg,TTRVdTXKcq-xn6-1IWbwEw,Gyrez6K8f1AyR7dzW9fvAw,5.0,0,0,1,their pettuccine was fresh-made in the morning...,2013-12-28 22:28:08,Casanova,...,NV,89109,36.121579,-115.168664,4.0,495.0,1.0,"{'HasTV': 'True', 'Ambience': ""{'romantic': Fa...","Restaurants, Tapas Bars, Mediterranean, Italian","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ..."

In [58]:
yelp = x

### Exporting the datasets at this stage to csv

In [62]:
# Yelp data
yelp.to_csv(r"C:/Users/abdul/Desktop/yelp_stage2.csv", encoding='utf-8', index=False)
# Inspection data
Inspections.to_csv(r"C:/Users/abdul/Desktop/Inspections_stage2.csv", encoding='utf-8', index=False)